.file-container {
  height: 400px;
  width: 300px;
  background-color: bisque;

  .path-container {
    height: 30px;
    background-color: aqua;
    padding: 8px;
    display: flex;
    align-items: center;
    
    img {
      padding-right: 8px;
      cursor: pointer;
    }

    .file-path {
      cursor: pointer;
    }
  }

  .file-content {
    height: 300px;
    padding: 8px;
    position: relative;
    

    .file {
      display: flex;
      align-items: center;
      gap: 8px;

      .file-name {
        max-width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }

      .size {
        right: 8px;
        position: absolute;
      }
    }
  }
}
