<div class="file-container">
  <div class="path-container">
    <div class="arrow-back" width="20" height="20" (click)="goBack()">
      <img
        *ngIf="paths.length"
        src="assets/img/left-arrow.png"
        alt="Arrow back"
      />
    </div>
    <div
      *ngFor="let path of paths"
      class="file-path"
      (click)="goToFolder(path)"
    >
      {{ path }}/
    </div>
  </div>
  <div class="file-content">
    <div
      *ngFor="let content of contentData?.content"
      class="file"
      (click)="goNext(content)"
    >
      <img
        *ngIf="content.size"
        src="assets/img/document.png"
        alt="File Image"
        width="20"
        height="20"
      />
      <img
        *ngIf="!content.size"
        src="assets/img/folder.png"
        alt="Folder Image"
        width="20"
        height="20"
      />
      <div class="file-name">
        {{ content.name }}
      </div>
      <div *ngIf="content.size" class="size">
        {{ content.size | fileSize }}
      </div>
    </div>
  </div>
</div>
